<!DOCTYPE html>
<html lang="en">
    <head>
        <title>insta485</title>
    </head>
    <body>
        <header>
            <div class="upper-left">
                <a href="{{ url_for('show_index') }}">Home</a>
            </div>
            <div class="upper-right">
                <a href="{{ url_for('show_explore') }}">explore</a>
                <a href="{{ url_for('show_user', username=logname) }}">{{ logname }}</a>
            </div>
        </header>
        
        <main>
            <section class="profile-info">
                <h1>{{ logname }}</h1>
                <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="{{ logname }}'s profile image">
            </section>
            <section class="edit-info">
                <form action="{{ url_for('show_accounts') }}?target={{ url_for('show_edit') }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*"/>
                    <input type="text" name="fullname" value="{{ fullname }}" required/>
                    <input type="text" name="email" value="{{ email }}" required/>
                    <input type="submit" name="update" value="submit"/>
                    <input type="hidden" name="operation" value="edit_account"/>
                </form>
                <a href="{{ url_for('show_password') }}">Change Password</a>
                <br>
                <a href="{{ url_for('show_delete') }}">Delete Account</a>
            </section>
        </main>
    </body>
</html>

