body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at right, #FFFFFF 0%, #A073B0 0%, #2E1A57 99%); /* Purple to white gradient */
    color: white;
    text-align: center;
    display: flex;           /* Enables flexbox layout */
    justify-content: space-between;
    height: 100vh;  
    width: 100vw; 
}

.logo-with-header {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically at the center */
    justify-content: center;
}

.logo-with-header h1 {
    margin-right: 10px; /* Adds some space between the text and the image */
    font-size: 16vh; /* Adjust font size as needed */
}

.logo-with-header img {
    height: 32vh; /* Sets a taller height for the image */
    width: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures the image doesn't stretch */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create-info {
    display: flex; /* Enables flexbox layout */
    flex-direction: column;
    align-items: center; /* Aligns items vertically at the center */
    justify-content: center;
}

form {
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks elements vertically */
    align-items: center; /* Centers the items horizontally */
    gap: 2vh; /* Adds spacing between the elements */
    width: 25vw;
}

.create-info input {
    padding: 2vh; /* Adds padding for better spacing */
    margin-bottom: 1vh; /* Adds margin below each input */
    border: none; /* Removes border */
    border-radius: 1vh; /* Rounds input corners */
    outline: none; /* Removes the default focus outline */
    width: 100%;
}

.create-info input::placeholder {
    text-align: center;
}

.create-info input[type="submit"] {
    background-color: #2E1A57; /* Adds background color */
    color: white; /* White text color for contrast */
    font-size: 5vh;
    cursor: pointer; /* Changes the cursor to pointer on hover */
    box-shadow: 5px 5px 10px rgba(0, 0, 0);
}

.text-section {
    flex: 1.5;  
    font-family: Arial, sans-serif; /* Set a default font */
    display: flex; /* Using flexbox to create a responsive layout */
    flex-direction: column;
    justify-content: center;
}

.login{
    padding-top: 1vh;
}

.login a {
    color: red;
}

.photos {
    flex: 1;  
    display: flex; /* Flex container for side-by-side layout */
    justify-content: flex-end; /* Align horizontal items to the right */
    align-items: flex-end; /* Align items vertically to the bottom */
    width: 100%; /* Ensure full width */
    position: relative;
    overflow: hidden;
}

.photo-grid, .photo-grid2 {
    display: flex;
    flex-direction: column;
    width: 45%; /* Adjust width as needed */
}

.photo-grid {
    margin-top: 0; /* Ensures no offset for the first grid */
    margin-bottom: -35vh;
}

.photo-grid2 {
    margin-left: .5vw;
    margin-bottom: -15vh; /* Add vertical offset to the second grid */
}

.photo-grid img, .photo-grid2 img {
    margin-bottom: 1vh;
    position: relative;
    z-index: 1; /* Adjust z-index appropriately */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(250, 250, 250);
}