body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at right, #FFFFFF 0%, #A073B0 0%, #2E1A57 99%); /* Purple to white gradient */
    color: white;
    text-align: center;
    display: flex;           /* Enables flexbox layout */
    justify-content: space-between;
    height: 100vh;  
    width: 100vw; 
}

.logo-with-header {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Aligns items vertically at the center */
    justify-content: center;
}

.logo-with-header h1 {
    margin-right: 10px; /* Adds some space between the text and the image */
    font-size: 10vh; /* Adjust font size as needed */
}

.logo-with-header img {
    height: 20vh; /* Sets a taller height for the image */
    width: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures the image doesn't stretch */
}

.buttons button {
    padding: 5vh 5vw;
    font-size: 2em;
    color: #4B0082;
    background-color: white;
    border: none;
    border-radius: 1vh;
    margin: .75vw;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #f0f0f0;
}


/* Basic reset and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text-section {
    flex: 1.5;  
    font-family: Arial, sans-serif; /* Set a default font */
    display: flex; /* Using flexbox to create a responsive layout */
    flex-direction: column;
    justify-content: center;
}

.catchphrase{
    padding: 3vh;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.stat {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.number {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, #FFB800, #FF616D); /* Gradient from orange to pink */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    padding-left: 1vw;
    font-size: 18px;
    color: #D3C1F2; /* Light purple text */
    margin-top: 5px;
    width: 7vw; /* Restricting the width */
}

.divider {
    width: 2px;
    height: 50px;
    background-color: #D3C1F2; /* Light purple color */
}

.buttons {
    margin-top: 8vh;

}

.photos {
    flex: 1;  
    display: flex; /* Flex container for side-by-side layout */
    justify-content: flex-end; /* Align horizontal items to the right */
    align-items: flex-end; /* Align items vertically to the bottom */
    width: 100%; /* Ensure full width */
    position: relative;
    overflow: hidden;
}

.photo-grid, .photo-grid2 {
    display: flex;
    flex-direction: column;
    width: 45%; /* Adjust width as needed */
}

.photo-grid {
    margin-top: 0; /* Ensures no offset for the first grid */
    margin-bottom: -35vh;
}

.photo-grid2 {
    margin-left: .5vw;
    margin-bottom: -15vh; /* Add vertical offset to the second grid */
}

.photo-grid img, .photo-grid2 img {
    margin-bottom: 1vh;
    position: relative;
    z-index: 1; /* Adjust z-index appropriately */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(250, 250, 250);
}