<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PastForward</title>
    </head>
    <body>
        <header>
            <div class="upper-left">
                <a href="{{ url_for('show_index') }}">Home</a>
            </div>
            <div class="upper-right">
                <a href="{{ url_for('show_login') }}">login</a>
            </div>
        </header>
        
        <main>
            <section class="create-info">
                <form action="{{ url_for('show_accounts') }}?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
                  <input type="file" name="file" required/>
                  <input type="text" name="fullname" required/>
                  <input type="text" name="username" required/>
                  <input type="text" name="email" required/>
                  <input type="password" name="password" required/>
                  <input type="submit" name="signup" value="sign up"/>
                  <input type="hidden" name="operation" value="create"/>
                </form>
            </section>
        </main>
    </body>
</html>
