<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PastForward</title>
    </head>
    <body>
        <header>
            <div class="upper-left">
                <a href="{{ url_for('show_index') }}">Home</a>
            </div>
            <div class="upper-right">
                <a href="{{ url_for('show_explore') }}">explore</a>
                <a href="{{ url_for('show_user', username=logname) }}">{{ logname }}</a>
            </div>
        </header>
        
        <main>
            <section class="password-info">
                <form action="{{ url_for('show_accounts') }}?target={{ url_for('show_edit') }}" method="post" enctype="multipart/form-data">
                  <input type="password" name="password" required/>
                  <input type="password" name="new_password1" required/>
                  <input type="password" name="new_password2" required/>
                  <input type="submit" name="update_password" value="submit"/>
                  <input type="hidden" name="operation" value="update_password"/>
                </form>
                <a href="{{ url_for('show_edit') }}">Back to edit account</a>
            </section>
        </main>
    </body>
</html>
